body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
  background: rgba(255, 255, 255, 0.6);
  height: 250px;
  width: 1243px;
  transition: all 1.3s ease;
  position: fixed;
  bottom:0;
  z-index: 1050;
}



.main-header {
  background: #2c2c2c;
  color: #e9e9ee;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.main-content {
  padding: 1.5rem 1.5rem;
}

.main-body {
  margin-bottom: 1rem;
  background: #eee;
}

.typewriter {
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2 rem 0;
}

.main-footer button {
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #4d2e01;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.back-drop {
  height: 100%;
  position: fixed;
  align-self: center;
  transition: all 1.3s;
  width: 100%;
}


