#graham {
  filter: linear-gradient(180deg, rgb(19, 20, 20,1) 3%, rgba(67,59,35,0.3) 25%, rgba(179,179,179,0.2) 100%)
}


/* #shoulders, #neck {
  transform: rotate(10deg,20deg);
  animation: shoulders 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#Group-1 {
  transform: rotate(10deg);
  animation: shoulders 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes shoulders{
  from{
    transform: rotateX(10deg);
  } to{
    transform: rotateX(20deg);
  }
} */