
.title {
  margin-top: 20px;
  padding: 25px;
  border: 4px dotted blue;
  color: rgb(51, 51, 51);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(51, 51, 51);
  transition:color 0.5s ease;
  /*transform: skew(-5deg, 10deg);*/
  }

  .title:hover {
    color: white;
  }
  
  .all-links {
    
    /*transform: skew(-5deg, 10deg);*/
  }