.main-menu {
  height: 100vh;
  width: 100%;
  background-size: 1500px;
  background: linear-gradient(180deg, rgb(19, 20, 20,1) 3%, rgba(67,59,35,0.3) 25%, rgba(179,179,179,0.2) 100%), url('https://assets.vg247.com/current//2013/11/bioshock_infinite_burial_at_sea_1.jpg');
  background-position: center;
  overflow: hidden;
}

.inner-div {
  color: #fff;
  margin: 20px;
}

.graham-image svg {
  transform: translate(500px,-10px);
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
}

.talk-btn {
  border-radius: 5px;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #fff;
  color:#4d2e01;
  border: none;
  outline: none;
  cursor: pointer;
  
}
