.navbar {
  background-color: #4d2e01;
  width: 242px;
  height: 836px;
  display: inline-block;
  margin-right: 50px;
  align-content: left;
  padding-left: 0px;
}
.side-btn {
  margin-top: 20px;
  color: white;
}

.cls-btn {
  color: white;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color:#4d2e01;
  width: 200px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  padding-left: 0;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #97661d;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0;
}

.navbar-toggle {
  background-color:#4d2e01;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}