#holder {
  background-image: url('https://chuckmanchicagonostalgia.files.wordpress.com/2010/10/photo-chicago-skyline-panorama-aerial-sunset-with-snow-storm-note-building-under-construction-in-center-distance-1930.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  backdrop-filter: blur(2.5px);
  height: 100vh;
  width: 100%;
}

.login {
  min-height: 100%;
  display: flex;
  border-radius: 25px;
}

.form-div {
  border-radius: 12px;
  z-index: 2;
  position: absolute;
  transform: translate(520px, 30px);
  height: 500px;
  width: 400px;
  background-color: white;
  display: block;
  overflow: auto;
  text-align: center;
  box-shadow: -10px 5px 5px #0000009f;
  overflow: hidden;
}

.txt-login {
  color: rgb(83, 83, 83);
  width: 250px;
  border: none;
  height: 30px;
  border-bottom: double; 
  background: white;
}

.login-field {
  overflow: hidden;
  margin: 20px;
  height: inherit;
  flex-direction: column;
  display: inline-block;
}

.login-field h1 {
  transform: translate(0px, 3px);
}

.user-div{
  transform: translate(0px, 60px);
}

.password-div {
  transform: translate(0px, 90px);

}


#fake-login {
  z-index: 9999;
  text-align: center;
  height: 35px;
  display: block;
  border: none;
  background-color: #4d2e01;
  color: white;
  border-radius: 5px;
  transform: translate(0px, 140px);
  padding: 0.5rem 1.8rem; 
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}