.title-full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin-top: 20px;
  padding: 25px;
  border: 4px dotted blue;
  color: rgb(51, 51, 51);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(51, 51, 51);
  transition:color 0.5s ease;
  /*transform: skew(-5deg, 10deg);*/
  }

  .title:hover {
    color: white;
  }
  
  .all-links {
    
    /*transform: skew(-5deg, 10deg);*/
  }
  
  .side-nav {
    font-size: 50px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: rgb(51, 51, 51);
    -webkit-text-stroke-width: 1px;
    
  }
 
  .side-nav:hover {
    -webkit-text-fill-color: white;
    text-decoration: underline;
  }