.title-full {
  display: flex;
  background-image: url('https://cms-assets.tutsplus.com/uploads/users/1129/posts/27534/image/film-noir-typography-blur-and-burn-tools.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}
html {
  height: 100%;
}

.title {
  transform: perspective(700px) rotateY(13deg);
  position: fixed;
  margin-top: 75px;
  margin-left: 100px;
  border-top: 1px solid grey;
  box-shadow: -7px -4px 5px grey;
} 

  /* .title:hover {
    color: white;
  } */
  
  .all-links {
    margin: 25px;
    width: 1141px;
    height: 709px;  
  }

  .title svg {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.925));
  }

  .a-login {
    transform-origin: bottom right;
    transition: transform .3s;
    transform: perspective(700px) rotateY(-10deg);
    position: fixed;
    margin-top: 100px;
    margin-left: 1000px;
    float: right;
    
  }

  .a-signup {
    transform-origin: bottom right;
    transition: transform .3s;
    transform: perspective(700px) rotateY(-10deg);
    position: fixed;
    float: right;
    margin-top: 230px;
    margin-left: 1000px;
    text-shadow: 2px 2px 5px grey;
  }
 

  .side-nav {
    font-size: 50px;
    text-decoration: none;
    border: none;
    color: rgb(167, 167, 167);
    /* transform: skewY(-20deg); */
    -webkit-text-stroke-width: 1px;
  }
 
  .a-signup:hover {
    transform: skew(0deg,5deg); 
    fill: white;
    stroke-width: 2;
    stroke: black;
  }
  
  .a-login:hover {
    /* transform: rotate(20deg); */
    transform: skew(1deg,5deg); 
    fill: white;
    stroke-width: 2;
    stroke: black;
  }