@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  height: 100vh;
  font-family: 'Courier Prime', monospace;
}

button {
  font-family: 'Courier Prime', monospace;
}

.file-div {
  display: flex;
  height: 100vh;
  background: rgb(252, 252, 252);
  color: rgb(53, 53, 53);
}

/* 
.main-menu
 {
  height: 100vh;
  width: 100%;
  background-size: 1500px;
  background: linear-gradient(180deg, rgba(34,35,36,1) 3%, rgba(67,59,35,0.3) 25%, rgba(179,179,179,0) 100%), url('https://assets.vg247.com/current//2013/11/bioshock_infinite_burial_at_sea_1.jpg');
  background-position: center;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
} */